div div {
    background: #A4CA39;
    position: relative;
}


.android {
    height: 400px;
    width: 350px;
    margin: 100px auto;
}

.head {
    height: 100px;
    width: 260px;
    border-radius: 110px 110px 0 0;

    transition: all 0.3s ease-in;
}

.leftEye, .rightEye {
    height: 20px; 
    width: 20px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: 35px;
}

.rightEye {
    right: 50px;
}

.leftEye {
    left: 50px;
}

.leftAntl, .rightAntl {
    height: 50px;
    width: 5px;
    border-radius: 10px;
    position: absolute;
    top: -36px;
}

.rightAntl {
    right: 60px;
    transform: rotate(30deg);
}

.leftAntl {
    left: 60px;
    transform: rotate(-30deg);
}

.body {
    margin-top: 10px;
    width: 260px;
    height: 200px;
    border-radius: 0 0 25px 25px;
}

.rightArm, .leftArm, .rightLeg, .leftLeg {
    width: 50px;
    position: absolute;
    
    transition: all 0.1s ease-in;
}

.rightArm, .leftArm {
    height: 170px;
    border-radius: 25px;
}
.rightArm {
    right: -60px;
}
.leftArm {
    left: -60px;
}

.rightLeg, .leftLeg {
    height: 100px;
    border-radius: 0 0 25px 25px;
}

.rightLeg{
    bottom: -90px;
    left: 50px;
}

.leftLeg {
    bottom: -90px;
    right: 50px;
}


/*
 *
 * Transitions
 *
 */

.head:hover {
    transform: rotate(-7deg) translate(-6px, -12px);
}

.rightArm:hover {
    transform: rotate(-30deg) translate(30px, 0);
}

.leftArm:hover {
    transform: rotate(90deg) translate(-90px,0);
}