/*
 *
 * Wireframe designed at https://wireframe.cc/x0nJsv
 *
 */

/*
 *
 * Global Resets
 *
 */
*{
    margin: 0;
    padding: 0;
    font-family: garamond, Arial, Helvetica, sans-serif;
}

 /*
 *
 * Header
 *
 */

.header {
    height: 80px;
    width: 100%;
    background: #5f2c82;  /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #5f2c82, #49a09d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5f2c82, #49a09d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title {
    color: white;
}

body{
    background: #e1e1e1;    
}

.container {
    display: flex;
    flex-direction: column;
}

.scoreboard {
    border: 5px solid #5f2c82;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin: 25px auto;
    box-shadow: 10px 5px 10px #49a09d;
}

.scoreboard__title {
    text-align: center;
    position: relative;
    top: -40px;
}

.scoreboard__keeper {
    text-align: center;
    position: relative;
}

.results {
    text-align: center;
    position: relative;
    top: 20px;
    font-size: 1em;
}

.card-title {
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid black;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
}

.card {
    height: 75px;
    width: 75px;
    padding: 15px;
    border-radius: 5%;
    cursor: pointer;
    box-sizing: border-box;
}

.card__rock{
    background: url(../img/Rock.png) no-repeat;
    background-size: contain;
}

.card__scissors {
    background: url(../img/scissors.png) no-repeat;
    background-size: contain;
}

.card__paper {
    background: url(../img/paper.png) no-repeat;
    background-size: contain;
}

@media only screen and (min-width:379px){
    .card-container {
        width: 380px;
    }
}

@media only screen and (min-width:700px) {
    .scoreboard {
        height: 300px;
        width: 300px;
    }
}

@media only screen and (min-width:1000px) {
    .scoreboard {
        height: 400px;
        width: 400px;
    }
}