/*
 *
 * Global
 *
 */
* {
    padding: 0; margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #212121;
    display: block;
    padding: 5px 10px;
    font-size: 0.8em;
}

/*
 *
 * NavBar
 *
 */
 header{
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-end;
 }
 
 #NavBar ul {
    list-style-type: none;
    margin-top:15px;
    margin-right:20px;
 }

 #NavBar li {
     display: inline-block;
 }

 #NavBar a {
     text-align: center;
     vertical-align: middle;
 }

 #logo {
    position: relative;
    padding: 0;
    top: 6px;
    fill: #737373;
 }

 #sign-in {
     background-color: #4683ea;
     color: white;
     padding: 6px 12px;
     border-radius: 2px;
     display: block;
     border: none;
 }

 rect {
     fill: #737373;
 }


/*
 *
 * Image
 *
 */

#SearchArea {
    width: 600px;
    margin: 100px auto;
}

.container>img {
    width: 400px;
    display: block;
    margin: auto;
}


/*
 *
 * Form elements
 *
 */
 .SearchBar{
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08); /* Taken from google.ie inspect */
    padding-left: 15px;
    width: 95%;
    height: 45px;
    border: none;
 }

form .submit {
    background: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    color: #737373;
}

.Buttons>div {
    width: 240px;
    margin: auto;
}

p span {
    color: blue;
}

.container p {
    margin-top: 15px;
    padding-top: 10px;
    text-align: center;
    font-size: 0.8em;
}


/*
 *
 * Footer
 *
 */
footer {
    background: #f2f2f2;
    position: absolute;
    border-top: solid 1px #e4e4e4;
    bottom: 0;
    line-height: 30px;
    width: 100%;
}

#country {
    font-size: 0.8em;
    color: #737373;
}

#links {
    display: flex;
    justify-content: space-between;
}

footer p {
    border-bottom: solid 1px #e4e4e4;
    padding: 5px 15px;
    margin-left:5px;
}

footer ul {
    display: inline;
}

footer li {
        display: inline-block;
}

#links a{
    padding:5px 10px;
    margin-left:5px;
    color: #737373;
    font-size: 0.8em;
}


/*
 *
 * Psuedo Classes
 *
 */
.SearchBar:hover {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08); /* Taken from google.ie inspect */
}

.SearchBar:focus {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08); /* Taken from google.ie inspect */
}

a:hover {
    text-decoration: underline;
}
 #logo:hover {
     fill: #000;
}

 .submit:hover {
     box-shadow: 0 1px 1px rgba(0,0,0,0.1);
     color: #000;
}

 .container span:hover {
     text-decoration: underline;
     cursor: pointer;
}