/*
 *
 * Global Variables
 *
 */ 
* {
    margin:0;
    padding:0;
    font-family: Arial;
}

/*
 *
 * Header Level 1
 *
 */
header {
    background-color: #fafafa;
    border-bottom: solid 1px #e4e4e4;
}


 .nav__level1 {
     display: flex;
     background: url("../img/googleLogo.png") no-repeat;
     background-size: 140px 100px;
     background-position-y: -10px;
}

form {
    padding-left:150px;
}

.SearchBar{
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08); /* Taken from google.ie inspect */
    padding-left: 15px;
    margin-top: 25px;
    margin-bottom: 20px;
    width: 600px;
    height: 40px;
    border: none;
    background: url("../img/searchIcon.png") no-repeat;
    background-size: 30px 30px;
    background-position: 98% 50%;
 }

.profile-menu {
     display: inherit;
     justify-content: flex-end;
     width: 100%;
     margin-top: 30px;
     list-style-type: none;
     margin-right: 15px;
 }

.profile-menu__list {
     display: inline-block;
 }

#sign-in {
    background-color: #4683ea;
    color: white;
    padding: 6px 12px;
    border-radius: 2px;
    display: block;
    border: none;
}

.sub-menu {
    margin-left: 150px;
    width:620px;
    display: flex;
    justify-content: space-between;
}

.sub-menu__full {
    list-style-type: none;
    display: inline-block;
}


.sub-menu__list {
    display: inline-block;
}

.sub-menu__list a{
    text-decoration: none;
    display: block;
    color: #808080;
    padding: 5px 10px;
    font-size: 0.8em;
}

.sub-menu__list_current {
    display: inline-block;
    border-bottom: 3px solid #1a73e8;
    padding: 10px 15px;
}

.sub-menu__list_current  a{
    text-decoration: none;
    color: #1a73e8;
}

.search-results {
    padding-left:150px;
    margin-bottom: 30px;
    width: 600px;
}
.search-results__time{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 0.8em;
    color: #808080;
}

.search-results__list {
    list-style-type: none;
    display: block;
}
.search-results__list li{
    padding: 20px 0;
    width: 600px;
}

.search-results__title {
    color: #1a0dab;
    font-weight: normal;
}

.search-results__url {
    color: green;
    font-size: 0.9em;
}

.search-results__description {
    font-size: 0.8em;
}

.related-searches {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}

.related-searches__title {
    margin: 20px 0;
    font-weight: normal;
}

.related-searches__list1 {
    width: 40%;
    list-style-type: none;
}

.related-searches__list2 {
    width: 40%;
    list-style-type: none;
}
.related-searches__list1 li{
    color: #1a0dab;
    padding-top: 10px;
    font-size: 0.9em;
}

.related-searches__list2 li {
    color: #1a0dab;
    padding-top:10px;
    font-size: 0.9em;
}

.new-search {
    font-weight: bold;
}
/*
 *
 * Next Page
 *
 */
.next-page {
    margin: 15px 0;
    width: 320px;
    margin: auto;
}

.next-page ul {
    list-style-type: none;
    margin-left: 38px;
}

.next-page li {
    display: inline-block;
}

li a.next-page__current {
    color: black;
}

.next-page li a{
    display: block;
    padding: 10px 4px;
    color: #1a73e8;
    text-decoration: none;
    font-size: 0.8em;
}

li a.next-page__final {
    padding-left: 45px;
}
/*
 *
 * Footer
 *
 */
 footer {
    background: #f2f2f2;
    position: relative;
    border-top: solid 1px #e4e4e4;
    bottom: 0;
    line-height: 30px;
    width: 100%;
}

#country {
    font-size: 0.8em;
    color: #737373;
}

#links {
    display: flex;
    justify-content: space-between;
}

footer p {
    border-bottom: solid 1px #e4e4e4;
    padding: 5px 15px;
    margin-left:5px;
}

footer ul {
    display: inline;
}

footer li {
        display: inline-block;
}

#links a{
    padding:5px 10px;
    margin-left:5px;
    color: #737373;
    font-size: 0.8em;
}